apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{.Release.Name}}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{.Release.Name}}
    spec:
      containers:
      - name: {{.Release.Name}}
        image: 'avengersx.azurecr.io/redis-app:latest'
        ports:
        - containerPort: 80
